<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Sistema de diagnostico</title>
</head>
<body>
    <h2>Diagnóstico se você esta virando um tatu</h2>
    <form id="formDiagnostico">
        <label>Você tem medo de sair de casa? (s/n):<input name="MedoDeSairDeCasa" required></label><br><br>
        <label>Você é cascudo? (s/n): <input name="Cascudo"></label><br><br>
        <label>Você tem amor reciproco? (s/n): <input name="AmorReciproco"></label><br><br>
        <button type="submit">Diagnosticar</button>
    </form>

    <h3>Resultado:</h3>
    <p id="resposta"></p>

    <script>
        const form = document.getElementById("formDiagnostico");
        const resposta = document.getElementById("resposta");

        form.addEventListener("submit", async (e) => {
            e.preventDefault();

            const data = Object.fromEntries(new FormData(form).entries());

            const response = await fetch("http://127.0.0.1:5000/api/diagnostico", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(data)
            });

            const result = await response.json();
            resposta.textContent = result.resposta;
        });
    </script>
</body>
</html>
